.box{
    background-color: rgba(74, 204, 193, 0.801);
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    padding: 1em;
    border-radius: 5px;
    max-width: 70px;
}